h1 {
    font-family: Brush, Script, MT, cursive;
}

body {
   background-color: #f6fef6;
}


.text {
     font-size: 15px;
     padding-left: 20px;
     font-family: Brush, Script, MT,cursive;


      }

.paragraph {
    font-family: Brush, Script, MT,cursive;

}